* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: black;
  color: white;
  background-image: url(images/backgroundKhayel.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

/* -------------Navbar--------------- */
nav {
  padding: 1.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.3rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 10;
}

.nav_links {
  width: 50%;
  text-align: end;
}

.nav_link {
  text-decoration: none;
  margin-left: 5%;
  color: white;
  position: relative;
}

.nav_link::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #fc00ff;
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  transition: right 0.4s, width 0.4s, left 0.4s;
}

.nav_link:hover::before {
  width: 100%;
  left: 0;
}

nav img {
  width: 200px;
}

.contact_button {
  width: 120px;
  height: 40px;
  font-size: 1.1rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.contact_button::before {
  left: -4px;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contact_button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(1);
  filter: blur(20px);
}

.contact_button:hover::after {
  filter: blur(30px);
}

.contact_button:hover::before {
  transform: rotate(-180deg);
}

.contact_button:active::before {
  scale: 0.7;
}

/* -------------Header--------------- */

header {
  width: 100%;
  height: 100vh;
  padding: 10% 5%;
  line-height: 2;
  font-size: 1.3rem;
}

.name_underline {
  border-bottom: 3px solid #fc00ff;
  font-size: 3.5rem;
}

/* -------------About_me--------------- */
.apropos_section {
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 30%,
    rgba(252, 0, 255, 0.6) 100%
  );
}

.apropos_pic {
  flex-basis: 35%;
}

.apropos_pic img {
  width: 100%;
  border-radius: 15px;
}

.apropos_details {
  border: 2px solid #c413c7;
  flex-basis: 63%;
  background-color: black;
  border-radius: 15px;
  padding: 2%;
}

.section_title {
  font-size: 3.3rem;
  margin-bottom: 3%;
}

.aPropos_description {
  text-align: justify;
  padding: 0 3% 0 0;
  line-height: 1.3rem;
}
.apropos_tab_titles {
  display: flex;
  margin: 3% 0 5%;
}

.apropos_tab_links {
  margin-right: 7%;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  background: none;
  border: none;
  color: inherit;
  outline: none;
}

.apropos_tab_links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #c413c7;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.apropos_tab_links.active_link::after {
  width: 100%;
}

.apropos_tab_content ul {
  padding: 0 4% 0 1%;
  text-align: justify;
}
.apropos_tab_content ul li {
  list-style: none;
  margin: 3% 0;
  line-height: 1.5rem;
}

.apropos_tab_content ul li span {
  color: #c413c7;
  line-height: 2rem;
  font-size: 1.2rem;
}

.apropos_tab_content {
  display: none;
}

.apropos_tab_content.active_tab {
  display: block;
}

/* ----------Thesis_details--------------- */

.thesis_details {
  padding: 3%;
  background-color: black;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin: 7% 5% 10%;
}

.card {
  width: 30%;
  height: 60vh;
  overflow: hidden;
  background-color: #212121;
  border-radius: 10px;
  border: #212121 0.2rem solid;
  transition: all 0.4s ease-in;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  border-radius: 8px;
}

.card:hover {
  border: #c413c7 0.1em solid;
  border-radius: 2.5rem 0;
  box-shadow: none;
}

.card_title {
  text-align: center;
  margin: 5% 0;
}

.card_content {
  margin: 5%;
  line-height: 2rem;
  font-size: 1rem;
  text-align: justify;
}

/* ----------Contact_Me--------------- */

.contact_section {
  padding: 0 15% 5%;
  background-color: black;
  display: flex;
  align-items: center;
}

.contact_info {
  flex-basis: 35%;
  margin-right: 7%;
}

.contact_info p {
  margin-top: 7%;
}

.contact_info p i {
  color: #c413c7;
  margin-right: 2%;
  font-size: 1.2rem;
}

.Btn_LinkedIn {
  margin: 7% 0 0 10%;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  background: #0274b3;
}

.svgIcon {
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.text {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 120px;
  font-weight: 600;
  opacity: 0;
  transition-duration: 0.4s;
}

.Btn_LinkedIn:hover {
  width: 110px;
  transition-duration: 0.4s;
  border-radius: 30px;
}

.Btn_LinkedIn:hover .text {
  opacity: 1;
  transition-duration: 0.4s;
}

.Btn_LinkedIn:hover .svgIcon {
  opacity: 0;
  transition-duration: 0.3s;
}

.contact_form {
  flex-basis: 60%;
  width: 400px;
  background: linear-gradient(#212121, #000000) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 2rem;
  font-size: 1rem;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.contact_form button:active {
  scale: 0.95;
}

.contact_form .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact_form .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.contact_form .form-group label {
  display: block;
  margin-bottom: 10px;
  color: #cfc5c5;
  font-weight: 600;
  font-size: 1rem;
}

.contact_form .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.contact_form .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  height: 150px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
}

.contact_form .form-group input::placeholder {
  opacity: 0.5;
}

.contact_form .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.contact_form .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.contact_form .form-submit-btn {
  margin: 0 auto;
  font-family: inherit;
  color: #949393;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: none;
  padding: 12px 16px;
  font-size: inherit;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.contact_form .form-submit-btn:hover {
  background-color: #744779;
  color: white;
}

/* ----------Copyrights--------------- */

.copyrights {
  text-align: center;
  background-color: black;
  color: #cfc5c5;
  padding: 0.3%;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.copyrights .icons {
  color: #e81cff;
  font-size: 1rem;
  margin: 0 0.3%;
}

.copyrights a {
  color: #cfc5c5;
}
